<p>
  <b>Name:</b>
  <%=h @washing_station.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @washing_station.code %>
</p>


<%= link_to 'Edit', edit_washing_station_path(@washing_station) %> |
<%= link_to 'Back', washing_stations_path %>