<!-- debug aids - showing in heroku production environment for demonstration purposes -->
<!-- javascript toggle not working once I added jquery handlers. Not sure why -->
<!-- TODO: restore check for Development Environment  before displaying footer -->
<!-- see old_debug_aids.html.erb -->

		<div id="debug"> 

		
		</div> 
