<p>
  <b>Name:</b>
  <%=h @organic_certifier.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @organic_certifier.code %>
</p>


<%= link_to 'Edit', edit_organic_certifier_path(@organic_certifier) %> |
<%= link_to 'Back', organic_certifiers_path %>